# /
/camlprim0.obj
/*.a
/*.o
/*.obj
/*.i
/*.pdb
/*.s
/*.asm
/*.out
/allheaders
/allcfiles
/allmlfiles
/.emacs.desktop
/out
/site-config.mk
/__scalar2pointer.txt
/*.log
/tmp*
/*.log.prev
/make.out*
/odoc
/Makefile
/Makefile.features
/config.status
/*.tar.gz
/.ccuredrc
/allsrcs
/TEMP_cil-distrib
/TEMP_ccured_distrib
/.gdbinit
/autom4te*.cache
/config.h
/cil.spec
/cvss.txt
/configure.lineno
/confstat*
/config.mk
/TEMP_cil-bindistrib
/_build
/_log
/README
/index.html
/stamp-h
/META

# /debian/
/debian/build-stamp
/debian/cil
/debian/cil-dev
/debian/files
/debian/tmp

# /doc/
/doc/*.mfj
/doc/*.dvi
/doc/*.aux
/doc/*.ps
/doc/*.log
/doc/*.blg
/doc/*.bbl
/doc/*.lof
/doc/*.lot
/doc/*.toc
/doc/*.pdf
/doc/*.png
/doc/*.out
/doc/*.xyc
/doc/*.xyd
/doc/auto
/doc/cil-api.tex
/doc/cil.version.tex
/doc/cilpp.tex
/doc/cilcode.tmp
/doc/cil.version
/doc/header.html
/doc/index.html
/doc/ocamldoc.sty

# /doc/html/
/doc/html/*

# /lib/perl5/
/lib/perl5/App/Cilly/CilConfig.pm
/lib/perl5/App/Cilly.pm
/lib/perl5/Makefile
/lib/perl5/Makefile.old
/lib/perl5/MYMETA.yml
/lib/perl5/MYMETA.json
/lib/perl5/blib/*
/lib/perl5/pm_to_blib

# /lib/cil
/lib/cil

# /share
/share/cil/ocamlpath

# /bin/
/bin/cilly.*

# /_build/
/_build/*

# /src/
/src/*.output
/src/ChangeLog
/src/machdep-ml.c
/src/cilversion.ml
/src/feature_config.ml
/src/machdep.ml

# /src/frontc/
/src/frontc/*.output

# /test/
/test/PCC
/test/linux
/test/optstats.results
/test/optstats.results.?
/test/optstats.log
/test/*.report
/test/*.o
/test/*.obj
/test/*.exe
/test/*.pdb
/test/*.ilk
/test/*.cpp
/test/*.i
/test/*.s
/test/*.asm
/test/*cil.c
/test/*.rtl
/test/*box.c
/test/*cabs.c
/test/*infer.c
/test/*_ppp.c
/test/*.origi
/test/*.stackdump
/test/*_all.c
/test/testingcil.c
/test/__log*
/test/testsafec.smlog
/test/Makefile
/test/__scalar2pointer.txt
/test/cil.log*
/test/make.out

# /test/llvm/
/test/llvm/temp
/test/llvm/Makefile

# /test/llvm/cfrac.d/
/test/llvm/cfrac.d/cfrac
/test/llvm/cfrac.d/*.bc
/test/llvm/cfrac.d/temp

# /test/small1/
/test/small1/p*.cil
/test/small1/*.cabs
/test/small1/*.box
/test/small1/*cured.c
/test/small1/*_comb.c
/test/small1/*optimcured.c
/test/small1/*.o
/test/small1/*.obj
/test/small1/*.exe
/test/small1/*.pdb
/test/small1/*.ilk
/test/small1/*.cpp
/test/small1/*.i
/test/small1/*.s
/test/small1/*.asm
/test/small1/*cil.c
/test/small1/*box.c
/test/small1/t.c
/test/small1/hashtestbox
/test/small1/*.rtl
/test/small1/*box.c
/test/small1/*infer.c
/test/small1/*cil.c
/test/small1/*.i
/test/small1/*_ppp.c
/test/small1/*.origi
/test/small1/*cabs.c
/test/small1/*_all.c
/test/small1/ope.m
/test/small1/*cured.c
/test/small1/__scalar2pointer.txt
/test/small1/sscanf.out
/test/small1/*.stackdump
/test/small1/a.out
/test/small1/vararg.out
/test/small1/array.a.files
/test/small1/*.browser
/test/small1/*.cmi
/test/small1/*.cmo
/test/small1/test-bad.err
/test/small1/test-bad.out
/test/small1/*optimcured*.c
/test/small1/longBlock.cmx
/test/small1/polystruct-tmp.c
/test/small1/sscanf_string
/test/small1/wchar-bad-tmp.c
/test/small1/*-tmp.c
/test/small1/array.a

# /test/small2/
/test/small2/hola
/test/small2/*.exe
/test/small2/*cil.c
/test/small2/*infer.c
/test/small2/*box.c
/test/small2/*cabs.c
/test/small2/*.pdb
/test/small2/*.i
/test/small2/*_ppp.c
/test/small2/*.origi
/test/small2/*_all.c
/test/small2/*.pdb
/test/small2/*.ilk
/test/small2/*cured.c
/test/small2/*.cured.s
/test/small2/*_comb.c
/test/small2/*.browser
/test/small2/*-tmp.*
/test/small2/comb
/test/small2/ocamlprof*
/test/small2/voidfree
/test/small2/recursetype
/test/small2/rmunused
/test/small2/regbeforeassign
/test/small2/partialbracket
/test/small2/enuminit
/test/small2/staticafternostorage
/test/small2/voidfree
/test/small2/simplewild
/test/small2/multiplestatics
/test/small2/*.log
/test/small2/ptrtolocal
/test/small2/tprintf
/test/small2/ptrinint
/test/small2/ptrmanip
/test/small2/twoprintfs
/test/small2/regthenprintf
/test/small2/nested
/test/small2/debug_table
/test/small2/s59
/test/small2/tmp.c
/test/small2/tmp
/test/small2/putc
/test/small2/bogus_redef
/test/small2/cof
/test/small2/lexnum
/test/small2/funcptr
/test/small2/ptrkinds
/test/small2/transpunion
/test/small2/sockaddr
/test/small2/oldstyle
/test/small2/typeof
/test/small2/asmfndecl
/test/small2/funcname
/test/small2/qsort
/test/small2/memset_sizeof
/test/small2/jpeg_compress_struct
/test/small2/funcptr2
/test/small2/argv
/test/small2/ctype
/test/small2/heapify
/test/small2/xlsubr
/test/small2/baddef
/test/small2/baddef.rept
/test/small2/litstruct
/test/small2/cmpzero
/test/small2/a.out
/test/small2/ioctl
/test/small2/stralloc
/test/small2/segfault
/test/small2/strpbrk
/test/small2/fgets
/test/small2/memcpy
/test/small2/open
/test/small2/constdecl
/test/small2/mknod
/test/small2/realloc
/test/small2/strchr
/test/small2/getopt
/test/small2/scary
/test/small2/scary*.s
/test/small2/*.s
/test/small2/ope.m
/test/small2/*cured.c
/test/small2/*.optim.c
/test/small2/*.stackdump
/test/small2/fmtstr
/test/small2/bisonerror
/test/small2/errorinfn
/test/small2/globalprob
/test/small2/invalredef
/test/small2/invalredef2
/test/small2/kernel?
/test/small2/main
/test/small2/memberofptr
/test/small2/xcheckers
/test/small2/unionassign
/test/small2/models
/test/small2/test-bad-tmp*
/test/small2/alloca2
/test/small2/poly
/test/small2/getpwnam
/test/small2/reply
/test/small2/stackptrptr
/test/small2/popen
/test/small2/execv
/test/small2/sockets
/test/small2/printfllong
/test/small2/stat
/test/small2/replydirname
/test/small2/boundaries
/test/small2/constfold
/test/small2/hufftable
/test/small2/scanf
/test/small2/rusage
/test/small2/bzero
/test/small2/memset_int
/test/small2/rmunused2
/test/small2/gimpdouble
/test/small2/struct_cs
/test/small2/retptr
/test/small2/arraytags
/test/small2/strloop2
/test/small2/mode_sizes
/test/small2/*-tmp.c
/test/small2/*tmp
/test/small2/*.tmp.exe
/test/small2/test-bad.err
/test/small2/brlock
/test/small2/test-bad.out
/test/small2/qsort_wild
/test/small2/regparm0
/test/small2/unscomp
/test/small2/*optimcured*
/test/small2/mergestruct
/test/small2/trace
/test/small2/globstackptr
/test/small2/complex_float
/test/small2/mergeinline
/test/small2/ehstack
/test/small2/setjmp
/test/small2/suppress_optim
/test/small2/name-capture-bitand
/test/small2/dblarg.int
/test/small2/wildfun2
/test/small2/gdb.log
/test/small2/decl_inl
/test/small2/tagfile
/test/small2/.gdbinit
/test/small2/monthname
/test/small2/floatarg
/test/small2/structs_edg_stl_ccuredlib_test
/test/small2/ptrarith
/test/small2/chararr1
/test/small2/thing
/test/small2/chararr2
/test/small2/strerror1
/test/small2/merged-once.c
/test/small2/merged-twice.c
/test/small2/funptr1
/test/small2/union5
/test/small2/arrayexpand
/test/small2/byteprintf
/test/small2/null_pointer_field
/test/small2/bufferlinegetter
/test/small2/checkinit
/test/small2/voidstarint
/test/small2/signal
/test/small2/*.out
/test/small2/seq_align_malloc
/test/small2/bsearch
/test/small2/readv
/test/small2/getaddrinfo
/test/small2/sockunion
/test/small2/fseq1
/test/small2/closefunc
/test/small2/addr
/test/small2/polystruct-tmp
/test/small2/glob
/test/small2/sin_zero
/test/small2/bloop
/test/small2/funcptr3
/test/small2/merge-ar
/test/small2/libmerge.a

