depexts: [
  ["perl-ExtUtils-MakeMaker"] {os-distribution = "centos" | os-distribution = "fedora" | os-distribution = "ol"}
  ["perl-FindBin"] {os-distribution = "fedora"}
  ["build-base"] {os-distribution = "alpine"}
]
available: arch != "x86_32" & arch != "arm32" & arch != "ppc32" & arch != "ppc64" & arch != "s390x"
