depexts: [
  ["perl-ExtUtils-MakeMaker"] {os-distribution = "centos" | os-distribution = "fedora" | os-distribution = "ol"}
  ["perl-FindBin"] {os-distribution = "fedora"}
  ["build-base"] {os-distribution = "alpine"}
]
available: arch = "x86_64"
