# DUNE_GEN

package "default-features" (
requires="goblint-cil.dataslicing goblint-cil.liveness goblint-cil.pta goblint-cil.syntacticsearch"
version = "1.7.8"
)

package "all-features" (
requires="goblint-cil.dataslicing goblint-cil.liveness goblint-cil.pta goblint-cil.zrapp goblint-cil.syntacticsearch"
version = "1.7.8"
)
